<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{common/_site_head :: head('마이페이지 문의하기')}"></th:block>
    <link rel="stylesheet" href="./../css/main.css" />
    <link rel="stylesheet" href="./../css/my/common.css" />
    <link rel="stylesheet" href="./../css/my/qna.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>


  <main class="main-layout">
      <div class="mypage-layout">
        <aside class="mypage-sidebar">
          <h3>마이페이지</h3>

          <ul>
            <li><a th:href="@{/my/order}">전체주문내역</a></li>
            <li><a th:href="@{/my/point}">포인트내역</a></li>
            <li><a th:href="@{/my/coupon}">쿠폰</a></li>
            <li><a th:href="@{/my/review}">나의리뷰</a></li>
            <li  class="active"><a th:href="@{/my/qna}">문의하기</a></li>
            <li><a th:href="@{/my/info}">나의설정</a></li>
          </ul>
        </aside>

        <section class="mypage-content">
          <div class="mypage-summary">
            <div class="summary-card">
              <strong>주문</strong>
              <span>2</span>
            </div>

            <div class="summary-card">
              <strong>쿠폰</strong>
              <span>1</span>
            </div>

            <div class="summary-card">
              <strong>포인트</strong>
              <span>1,000</span>
            </div>

            <div class="summary-card">
              <strong>문의</strong>
              <span>1</span>
            </div>
          </div>

          <div class="mypage-banner">
            <img src="/images/my/myBanner.png" alt="myBanner" style="width: 100%">
          </div>

          <section class="mypage-section">
            <div class="section-header">
              <h3>문의하기</h3>
            </div>

            <!-- 문의하기 테이블 -->
            <table class="inquiry-table">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>문의채널</th>
                  <th>문의유형</th>
                  <th>제목</th>
                  <th>작성일</th>
                  <th>상태</th>
                </tr>
              </thead>

              <tbody>
              <tr th:each="qna, stat : ${qnaList}" th:if="${stat.index < 5}">

                <td th:text="${qna.qnaNo}"></td>

                <td>고객센터</td>

                <td th:text="${qna.parentCateName + ' / ' + qna.cateName}"></td>

                <td th:text="${qna.title}"></td>

                <td th:text="${#temporals.format(qna.regDate,'yyyy-MM-dd')}"></td>

                <td th:text="${qna.status}"
                    th:classappend="${qna.status=='답변완료'} ? ' answer' : ' pending'">
                </td>

              </tr>

              <tr th:if="${#lists.isEmpty(qnaList)}">
                <td colspan="6">문의내역이 없습니다.</td>
              </tr>

              </tbody>
            </table>

            <!-- 페이징 -->
            <div class="pagination">
              <a href="#" class="page-btn"
                ><i class="bi bi-chevron-left"></i
              ></a>

              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>

              <a href="#" class="page-btn"
                ><i class="bi bi-chevron-right"></i
              ></a>
            </div>
          </section>
        </section>
      </div>
    </main>

  <th:block th:replace="~{common/_admin_footer}"></th:block>

  </body>
</html>
