<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 리뷰내역</title>
    <link rel="stylesheet" href="./../css/main.css" />
    <link rel="stylesheet" href="./../css/my/common.css" />
    <link rel="stylesheet" href="./../css/my/review.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>


  <main class="main-layout">
      <div class="mypage-layout">
        <aside class="mypage-sidebar">
          <h3>마이페이지</h3>

          <ul>
            <li><a th:href="@{/my/order}">전체주문내역</a></li>
            <li><a th:href="@{/my/point}">포인트내역</a></li>
            <li><a th:href="@{/my/coupon}">쿠폰</a></li>
            <li class="active"><a th:href="@{/my/review}">나의리뷰</a></li>
            <li><a th:href="@{/my/qna}">문의하기</a></li>
            <li><a th:href="@{/my/info}">나의설정</a></li>
          </ul>
        </aside>

        <section class="mypage-content">
          <div class="mypage-summary">
            <div class="summary-card">
              <strong>주문</strong>
              <span>2</span>
            </div>

            <div class="summary-card">
              <strong>쿠폰</strong>
              <span>1</span>
            </div>

            <div class="summary-card">
              <strong>포인트</strong>
              <span>1,000</span>
            </div>

            <div class="summary-card">
              <strong>문의</strong>
              <span>1</span>
            </div>
          </div>

          <div class="mypage-banner">
            <img src="/images/my/myBanner.png" alt="myBanner" style="width: 100%">
          </div>

          <section class="mypage-section">
            <div class="section-header">
              <h3>나의 리뷰</h3>
            </div>

            <!-- 리뷰 테이블 -->
            <table class="review-table">
              <thead>
              <tr>
                <th>번호</th>
                <th>상품명</th>
                <th>내용</th>
                <th>평점</th>
                <th>작성일</th>
              </tr>
              </thead>

              <tbody>

              <tr th:each="review, iterStat : ${reviewList}">

                <td th:text="${page.total - page.offset - iterStat.index}">
                </td>

                <td>
                  <img th:if="${review.imagePath != null}"
                       th:src="@{'/uploads/' + ${review.imagePath}}"
                       width="50"
                       style="vertical-align:middle; margin-right:5px;">

                  <span th:text="${review.productName}"></span>
                </td>

                <td th:text="${review.content}"></td>

                <td>
                  <div class="rating-stars" th:title="${review.rating} + '점'">
                    <div class="fill-stars" th:style="'width: ' + ${review.getRatingPercent()} + '%'"></div>
                  </div>
                </td>

                <td th:text="${#temporals.format(review.regDate,'yyyy-MM-dd')}"></td>

              </tr>

              <tr th:if="${#lists.isEmpty(reviewList)}">
                <td colspan="5">작성한 상품평이 없습니다.</td>
              </tr>

              </tbody>
            </table>

            <!-- 페이징 -->
            <div class="pagination">

              <a th:if="${page.startPage > 1}"
                 th:href="@{/my/qna(pg=${page.startPage-1})}"
                 class="page-btn">
                <i class="bi bi-chevron-left"></i>
              </a>

              <th:block th:each="i : ${#numbers.sequence(page.startPage,page.endPage)}">
                <a th:href="@{/my/qna(pg=${i})}"
                   th:text="${i}"
                   th:classappend="${i==page.currentPage} ? 'active'">
                </a>
              </th:block>

              <a th:if="${page.endPage < page.lastPage}"
                 th:href="@{/my/qna(pg=${page.endPage+1})}"
                 class="page-btn">
                <i class="bi bi-chevron-right"></i>
              </a>

            </div>
          </section>
        </section>
      </div>
    </main>

  <th:block th:replace="~{common/_admin_footer}"></th:block>

  </body>
</html>
