<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 보기</title>
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/cs/common.css" />
    <link rel="stylesheet" href="../../css/cs/notice/view.css" />
  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>


  <main class="main-layout">
      <div class="breadcrumb">
        <a th:href="@{/cs/index}">홈</a>
        <span>></span>
        <span>공지사항</span>
      </div>

      <div class="cs-layout">
        <!-- 사이드바 -->
        <aside class="cs-sidebar">
          <h3>공지사항</h3>
          <ul>
            <li th:classappend="${notice.noticeType == null or notice.noticeType == ''} ? 'active'">
              <a th:href="@{/cs/notice/list}">전체</a>
            </li>
            <li th:classappend="${notice.noticeType == '고객서비스'} ? 'active'">
              <a th:href="@{/cs/notice/list(noticeType='고객서비스')}">고객서비스</a>
            </li>
            <li th:classappend="${notice.noticeType == '안전거래'} ? 'active'">
              <a th:href="@{/cs/notice/list(noticeType='안전거래')}">안전거래</a>
            </li>
            <li th:classappend="${notice.noticeType == '위해상품'} ? 'active'">
              <a th:href="@{/cs/notice/list(noticeType='위해상품')}">위해상품</a>
            </li>
            <li th:classappend="${notice.noticeType == '이벤트당첨'} ? 'active'">
              <a th:href="@{/cs/notice/list(noticeType='이벤트당첨')}">이벤트당첨</a>
            </li>
          </ul>
        </aside>

        <!-- 본문 -->
        <section class="cs-content">
          <div class="content-header">
            <h2 th:text="${notice.noticeType}">전체</h2>
            <p th:text="${notice.noticeType + ' 관련 공지사항입니다.'}">
              공지사항 내용입니다.
            </p>
          </div>

          <div class="notice-view">
            <div class="notice-view-header">
              <h3>[ [[${notice.noticeType}]] ] [[${notice.title}]]
              </h3>
              <span>[[${#temporals.format(notice.regDate,'yyyy-MM-dd')}]]</span>
            </div>

            <div class="notice-view-body">
              <p>[[${notice.content}]]</p>
            </div>
          </div>

          <div class="view-btn-area">
            <a th:href="@{/cs/notice/list(pg=${pg}, noticeType=${notice.noticeType})}" class="btn-list">
              목록
            </a>
          </div>
        </section>
      </div>
    </main>

  <th:block th:replace="~{common/_main_footer}"></th:block>

  </body>
</html>
