<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{common/_site_head :: head('회원가입 선택')}"></th:block>
    <!-- <link rel="stylesheet" href="../css/member/join.css" /> -->
    <link rel="stylesheet" href="../css/member/join.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>


  <main class="container">
      <div class="join-container">
        <div class="join-header">
          <h2>회원가입</h2>
          <p>회원 유형을 선택해주세요.</p>
        </div>

        <div class="join-type-list">
          <a th:href="@{/member/signup(type='user')}" class="join-card general">
            <div class="card-icon">👤</div>

            <div class="card-content">
              <h3>일반회원가입</h3>
              <p>
                개인구매회원 (외국인 포함)<br />
                만 14세 이상 가입 가능
              </p>
            </div>

            <span class="arrow">›</span>
          </a>

          <a th:href="@{/member/signup(type='seller')}"  class="join-card seller">
            <div class="card-icon">🏪</div>

            <div class="card-content">
              <h3>판매회원가입</h3>
              <p>
                사업자판매회원<br />
                사업자등록증 보유 법인/개인회원
              </p>
            </div>

            <span class="arrow">›</span>
          </a>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <th:block th:replace="~{common/_main_footer}"></th:block>

  </body>
</html>
