<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{common/_site_head :: head('로그인')}"></th:block>
    <link rel="stylesheet" href="../css/member/login.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>
  <div th:if="${member1Banner != null and !#lists.isEmpty(member1Banner)}" class="member-banner">
    <a th:href="${member1Banner[0].linkUrl != null ? member1Banner[0].linkUrl : '#'}">
      <img th:src="${member1Banner[0].imagePath}" th:alt="${member1Banner[0].bannerName}">
    </a>
  </div>


    <main class="container">
      <div class="content-wrapper">
        <div class="login-container">
          <div class="login-header">
            <h2>로그인</h2>
            <p>아이디와 비밀번호를 입력해주세요.</p>
          </div>

          <form method="post">
            <div class="input-group">
              <div class="input-row">
                <label for="uid">아이디</label>
                <input
                  type="text"
                  id="uid"
                  placeholder="아이디 입력"
                  name="memberId"
                  required
                />
              </div>

              <div class="input-row">
                <label for="upw">비밀번호</label>
                <input
                  type="password"
                  id="upw"
                  placeholder="비밀번호 입력"
                  name="password"
                  required
                />
              </div>
            </div>
            <div th:if="${param.error != null}" class="login-error-msg" style="color: red;  font-size: 12px; margin-block: 5px 0;">
              <span th:if="${param.error[0] == 'leave'}">탈퇴한 회원입니다.</span>
              <span th:if="${param.error[0] == 'fail'}">아이디 또는 비밀번호가 잘못되었습니다.</span>
            </div>

            <div class="form-util">
              <label>
                <input type="checkbox" />
                자동 로그인
              </label>

              <div class="find-links">
                <a th:href="@{/member/find/userId}">아이디찾기</a>
                <span>|</span>
                <a th:href="@{/member/find/password}">비밀번호 찾기</a>
                <span>|</span>
                <a th:href="@{/member/join}">회원가입</a>
              </div>
            </div>

            <button type="submit" class="submit-btn">로그인</button>
          </form>

          <div class="sns-login-section">
            <span class="sns-title">간편 로그인</span>

            <div class="sns-btn-group">
<!--              <button class="sns-btn naver">N</button>-->

<!--              <button class="sns-btn kakao">💬</button>-->

              <a th:href="@{/oauth2/authorization/google}" class="sns-btn google">
                <img
                  src="https://www.gstatic.com/images/branding/googleg/1x/googleg_standard_color_128dp.png"
                  alt="Google"
                />
                <span>구글 간편 로그인</span>

              </a>
            </div>
          </div>
        </div>

        <div class="ad-banner">
          <img
            src="../images/member/member_login_banner.jpg"
            alt="member_login_banner"
          />
        </div>
      </div>

      <div class="award-section">
        <img
          src="../images/member/member_certifi_logo.gif"
          alt="member_certifi_logo"
        />
      </div>
    </main>

    <!-- Footer -->
  <th:block th:replace="~{common/_main_footer}"></th:block>


  </body>
</html>
