<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{common/_site_head :: head('일반 회원가입')}"></th:block>
    <link rel="stylesheet" href="../css/member/register.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script th:src="@{/js/postcode.js}"></script>
    <script th:src="@{/js/validationUser.js}"></script>
    <script src="//t1.kakaocdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>


  <main class="container">
      <div class="form-container">
        <div class="form-title-group">
          <h2>회원정보 입력</h2>
          <p>안전한 거래를 위해 본인의 정보를 정확히 입력해주세요.</p>
        </div>

        <form th:action="@{/member/register}" method="post">
          <div class="input-row success">
            <label for="user-id">ID</label>
            <div class="input-with-btn">
              <input
                      type="text"
                      id="user-id"
                      class="input-field"
                      placeholder="아이디 입력"
                      name="memberId"
                      required
              />
              <button type="button" class="inline-btn" id="btnUserid">중복확인</button>

            </div>
            <span class="useridResult"></span>
            <span class="guide-text">영문, 숫자 4~12자 설정</span>
            <!-- <span class="valid-mark">✓</span> -->
          </div>

          <div class="input-row">
            <label for="user-pw">비밀번호</label>
            <input
              type="password"
              id="user-pw"
              class="input-field"
              placeholder="비밀번호 입력"
              name="password"
              required
            />
            <span class="passResult"></span>
            <span class="guide-text">영문, 숫자, 특수문자 8~12자 설정</span>
          </div>

          <div class="input-row">
            <label for="user-pw-confirm">비밀번호 확인</label>
            <input
              type="password"
              id="user-pw-confirm"
              class="input-field"
              placeholder="비밀번호 재입력"
              name="password2"
              required
            />
          </div>

          <div class="input-row success">
            <label for="user-name">이름</label>
            <input
              type="text"
              id="user-name"
              class="input-field"
              placeholder="이름 입력"
              name="name"
              required
            />
            <span class="nameResult"></span>
<!--            <span class="valid-mark">✓</span>-->
          </div>

          <div class="input-row">
            <label for="user-birth">생년월일</label>
            <input type="date"   name="birth" id="user-birth" class="input-field" required />
          </div>

          <div class="input-row">
            <label>성별</label>

            <div class="gender-group">
              <label class="gender-label">
                <input type="radio" name="gender" value="M" checked />
                <span>남성</span>
              </label>

              <label class="gender-label">
                <input type="radio" name="gender" value="F" />
                <span>여성</span>
              </label>
            </div>
          </div>

          <div class="input-row">
            <label for="user-email">EMAIL</label>
            <div class="input-with-btn">
              <input
                type="email"
                id="user-email"
                class="input-field"
                placeholder="이메일 주소 입력"
                name="email"
                required
              />
              <button type="button" class="inline-btn" id="btnEmail">이메일 인증</button>
            </div>
            <span class="emailResult"></span>
            <div class="input-with-btn " style="margin-top: 8px" >
              <input type="text" name="code" class="input-field" placeholder="인증번호 입력"/>
              <button type="button" class="inline-btn"  id="btnConfirm">인증번호 확인</button>
            </div>
          </div>

          <div class="input-row">
            <label for="user-phone">휴대폰 번호</label>
            <div class="input-with-btn">
              <input
                type="tel"
                id="user-phone"
                class="input-field"
                placeholder="하이픈(-) 없이 입력"
                name="hp"
                required
              />
              <button type="button" class="inline-btn">휴대폰 인증</button>
            </div>
            <span class="hpResult"></span>

          </div>

          <div class="input-row">
            <label>주소</label>
            <div class="address-group">
              <div class="input-with-btn">
                <input
                  type="text"
                  class="input-field"
                  placeholder="우편번호"
                  id="zip"
                  name="zip"
                  readonly
                />
                <button type="button" onclick="postcode()" class="inline-btn">우편번호 검색</button>
              </div>
              <input
                type="text"
                class="input-field"
                placeholder="기본주소"
                id="addr1"
                name="addr1"
                readonly
              />
              <input
                type="text"
                class="input-field"
                id="addr2"
                name="addr2"
                placeholder="상세주소 입력"
              />
            </div>
          </div>

          <div class="btn-group">
            <!-- <button
              type="button"
              class="action-btn prev"
              onclick="history.back()"
            >
              이전으로
            </button> -->
            <button type="submit" class="action-btn submit">회원가입</button>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <th:block th:replace="~{common/_admin_footer}"></th:block>

  </body>
</html>
