<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>약관동의 - K-MARKET</title>
    <link rel="stylesheet" href="../css/member/signup.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");

        const allCheck = document.getElementById("all-check");

        const termChecks = document.querySelectorAll(
          ".terms-item input[type='checkbox']",
        );

        const requiredChecks = document.querySelectorAll(
          ".terms-item input[required]",
        );

        // 전체동의 클릭
        allCheck.addEventListener("change", () => {
          termChecks.forEach((check) => {
            check.checked = allCheck.checked;
          });
        });

        // 개별 체크 상태 변경
        termChecks.forEach((check) => {
          check.addEventListener("change", () => {
            const allChecked = [...termChecks].every((item) => item.checked);

            allCheck.checked = allChecked;
          });
        });

        // 폼 제출
        form.addEventListener("submit", (e) => {
          const requiredChecked = [...requiredChecks].every(
            (item) => item.checked,
          );

          if (!requiredChecked) {
            e.preventDefault();

            alert("필수 약관에 모두 동의해주세요.");

            return;
          }


        });
      });
    </script>
  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>


  <main class="container">
      <div class="terms-wrapper">
        <div class="terms-header">
          <h2>약관동의</h2>
          <p>회원가입을 위해 약관에 동의해주세요.</p>
        </div>

        <form th:action="${type == 'user'} ? @{/member/register} : @{/member/registerSeller}" method="get">
          <div class="terms-item" th:each="policy : ${policies}">
            <label class="terms-title">
              <input type="checkbox"
                     th:required="${policy.requiredYn == 'Y'}" />

              <span th:if="${policy.requiredYn == 'Y'}" class="required">[필수]</span>
              <span th:if="${policy.requiredYn != 'Y'}" class="optional">[선택]</span>

              <span th:text="${policy.title}">약관명</span>
            </label>

            <div class="terms-box"
                 th:text="${policy.content}"
                 style="white-space: pre-line;">
              약관 내용
            </div>
          </div>
          <button type="submit" class="submit-btn">동의하기</button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <th:block th:replace="~{common/_admin_footer}"></th:block>

  </body>
</html>
