.coupon-table {
  width: 100%;
  border-top: 2px solid #3fbf3f;
  border-collapse: collapse;
  background: #fff;
}

.coupon-table thead th {
  height: 46px;

  background: #f7f7f7;

  border-bottom: 1px solid #e5e5e5;

  font-size: 13px;
  font-weight: 700;
  color: #444;
}

.coupon-table tbody td {
  padding: 18px 12px;

  border-bottom: 1px solid #eeeeee;

  text-align: center;

  font-size: 13px;
  color: #555;
}

.coupon-table tbody tr:hover {
  background: #fafafa;
}

.coupon-table td:first-child {
  width: 220px;

  font-weight: 500;
  line-height: 1.6;
}

.coupon-table td:nth-child(2) {
  width: 120px;
  font-weight: 700;
}

.coupon-table td:nth-child(3) {
  width: 220px;
}

.coupon-table td:nth-child(4) {
  width: 120px;
}

.coupon-table td:nth-child(5) {
  width: 120px;
}



.coupon-guide {
  margin-top: 50px;

  padding: 20px;

  border-top: 1px solid #e5e5e5;
}

.coupon-guide ul {
  margin: 0;
  padding-left: 18px;
}

.coupon-guide li {
  margin-bottom: 8px;

  color: #666;
  font-size: 12px;
  line-height: 1.7;
}

.coupon-available{
  color:#3cbf32 !important;
  font-weight:600;
}

.coupon-used{
  color:#888 !important;
}

.coupon-disabled{
  color:#d9534f !important;
}