.notice-table {
  width: 100%;
  border-collapse: collapse;
}

.notice-table tbody tr {
  transition: 0.2s;
}

.notice-table tbody tr:hover {
  background: #f8fbf7;
}

.notice-table td {
  padding: 18px 16px;
  border-bottom: 1px solid #eee;
}

.notice-table td:first-child a {
  color: #333;
  font-size: 14px;
}

.notice-table tr:hover a {
  color: #3fbf3f;
}

.notice-table td:last-child {
  width: 100px;
  text-align: center;

  color: #999;
  font-size: 13px;
}
