/* 문의 목록 */
.inquiry-table {
  width: 100%;
  border-collapse: collapse;
}

.inquiry-table tr {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: 0.2s;
}

.inquiry-table tr:hover {
  background: #f8fbf7;
}

/* .inquiry-table tr:hover td:first-child {
  color: #3fbf3f;
} */

.inquiry-table td {
  padding: 16px 12px;
  font-size: 14px;
}

.inquiry-table td:nth-child(1) {
  width: 55%;
  transition: 0.2s;
}

.inquiry-table td:nth-child(2) {
  width: 100px;
  text-align: center;
}

.inquiry-table td:nth-child(3) {
  width: 90px;
  text-align: center;
  color: #777;
}

.inquiry-table td:nth-child(4) {
  width: 90px;
  text-align: center;
  color: #999;
}

/* 상태 */

.status {
  color: #999;
  font-size: 13px;
}

.answer {
  color: #3fbf3f;
  font-weight: 600;
  font-size: 13px;
}

/* 하단 */

.bottom-area {
  position: relative;
  margin-top: 30px;
}

.bottom-area .pagination {
  margin-top: 0;
}

.btn-write {
  position: absolute;
  right: 0;
  top: 0;

  width: 120px;
  height: 42px;

  border-radius: 10px;

  background: #3fbf3f;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 600;

  transition: 0.2s;
}

.btn-write:hover {
  background: #35aa35;
}
