<header class="admin-header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="admin-logo">
        <a th:href="@{/admin}">
            <img th:if="${settings.header_logo != null and settings.header_logo != ''}"
                 th:src="${settings.header_logo}"
                 alt="관리자 로고"
                 class="admin-logo-img">

            <span th:if="${settings.header_logo == null or settings.header_logo == ''}">
                Kmarket
            </span>
        </a>
    </div>

    <div class="top-menu">
        <a th:href="@{/}">홈</a>
        <a th:href="@{/member/logout}">로그아웃</a>
        <a th:href="@{/cs/index}">고객센터</a>
    </div>
</header>