<!-- Top ad banner -->
<!-- DB 배너가 있을 때 -->
<div class="top-bar"
     th:if="${topBanner != null}"
     th:style="${topBanner.bgColor != null ? 'background-color:' + topBanner.bgColor : ''}">

    <a th:href="${topBanner.linkUrl != null ? topBanner.linkUrl : '#'}"
       class="top-ad">

        <img th:src="${topBanner.imagePath}"
             th:alt="${topBanner.bannerName}" />
    </a>
</div>

<!-- DB 배너가 없을 때 임시 기본 이미지 -->
<div class="top-bar" th:unless="${topBanner != null}">
    <a href="#" class="top-ad">
        <img src="/images/main/vip_plcc_banner.png"
             alt="Kmarket 최상단 광고 배너" />
    </a>
</div>

<header>
    <a th:href="@{/}" class="logo-img">
        <img src="/images/main/header_logo.png" alt="Kmarket 로고" />
    </a>

    <form class="search-box"
          th:action="@{/product/search}"
          method="get">

        <input type="text"
               name="keyword"
               th:value="${keyword}"
               placeholder="상품, 브랜드를 검색해보세요" />

        <button type="submit" aria-label="검색">
            <svg viewBox="0 0 24 24">
                <path
                        d="M21 21l-4.35-4.35m1.35-5.65a7 7 0 11-14 0 7 7 0 0114 0z"
                        stroke="#fff"
                        stroke-width="2"
                        fill="none"
                        stroke-linecap="round"
                />
            </svg>
        </button>
    </form>

    <!-- 로그인 -->
    <nav class="header-links" th:if="${#authorization.expression('isAuthenticated()')}">
        <span class="login-user"> 안녕하세요, <span class="name" th:text="${#authentication.principal.member.name}"></span><span class="suffix">님</span></span>
        <a th:href="@{/member/logout}">로그아웃</a>
        <a th:href="@{/my/home}">마이페이지</a>
        <a th:href="@{/product/cart}">장바구니</a>
        <a th:href="@{/cs/index}">고객센터</a>
    </nav>
    <!-- 비로그인 -->
    <nav class="header-links"
         th:if="${#authorization.expression('isAnonymous()')}">
        <a th:href="@{/member/login}">로그인</a>
        <a th:href="@{/member/join}">회원가입</a>
    </nav>


    <!-- 관리자 -->
    <nav class="header-links"
         th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a th:href="@{/admin}">관리자</a>
    </nav>


</header>

<!-- GNB -->
<nav class="gnb">
    <div class="gnb-inner">
        <a href="#">히트상품</a>
        <a href="#">추천상품</a>
        <a href="#">최신상품</a>
        <a href="#">인기상품</a>
        <a href="#">할인상품</a>
    </div>
</nav>