<aside class="side-cat">
    <!-- Category: 일반 영역, sticky 아님 -->
    <div class="category-box">
        <h3>카테고리</h3>

        <ul class="category-list">

            <li class="category-item"
                th:each="category : ${categoryTree}">

                <div class="category-title">
            <span th:text="${category.cateName}">
                패션·의류·뷰티
            </span>

                    <span class="arrow"
                          th:if="${!#lists.isEmpty(category.children)}">
                +
            </span>
                </div>

                <ul class="sub-category close"
                    th:if="${!#lists.isEmpty(category.children)}">

                    <li th:each="sub : ${category.children}">
                        <a th:href="@{/product/list(cateNo=${sub.cateNo})}"
                           th:text="${sub.cateName}">
                            여성의류
                        </a>
                    </li>

                </ul>

            </li>

        </ul>


    </div>

    <!-- Best products: 이 부분만 sticky -->
    <div class="side-best-sticky">
        <div class="side-best">
            <h3>베스트 상품</h3>

            <div class="side-best-list">
                <a th:each="product, stat : ${bestProducts}"
                   th:href="@{/product/view(productNo=${product.productNo})}"
                   th:classappend="${stat.index == 0} ? ' best-first'"
                   class="side-best-item">

                    <span class="rank"
                          th:text="${#numbers.formatInteger(stat.count, 2)}">
                        01
                    </span>

                    <span class="thumb">
                        <img th:src="@{${product.imagePath}}"
                             th:alt="${product.productName}" />
                    </span>

                    <span class="txt">
                        <b th:text="${product.productName}">상품명</b>

                        <em th:text="${#numbers.formatInteger(product.discountPrice, 3, 'COMMA')} + '원'">
                            27,000원
                        </em>
                    </span>
                </a>
            </div>
        </div>
    </div>
</aside>