<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>자주묻는질문 보기</title>
  <link rel="stylesheet" href="../../css/main.css" />
  <link rel="stylesheet" href="../../css/cs/common.css" />
  <link rel="stylesheet" href="../../css/cs/faq/view.css" />
</head>
<body>
<th:block th:replace="~{common/_main_header}"></th:block>


<main class="main-layout">
  <!-- 경로 -->
  <div class="breadcrumb">
    <a th:href="@{/cs/index}">홈</a>
    <span>></span>
    <span>자주묻는질문</span>
  </div>

  <div class="cs-layout">
    <!-- 사이드바 -->
    <aside class="cs-sidebar">
      <h3>자주묻는 질문</h3>

      <ul>
        <li class="active"><a href="#">회원</a></li>
        <li><a href="#">쿠폰 / 이벤트</a></li>
        <li><a href="#">주문 / 결제</a></li>
        <li><a href="#">배송</a></li>
        <li><a href="#">취소 / 반품 / 교환</a></li>
        <li><a href="#">여행 / 항공 / 상품</a></li>
        <li><a href="#">안전거래</a></li>
      </ul>
    </aside>

    <!-- 본문 -->
    <section class="cs-content">
      <div class="content-header">
        <h2>[[${faq.parentCateName}]]</h2>
        <p>[[${faq.parentCateName}]] 관련 자주묻는 질문 입니다.</p>
      </div>

      <div class="faq-view">
        <div class="faq-view-header">
          <div class="q-badge">Q</div>

          <div class="faq-question">
            <h3>[[${faq.title}]]</h3>
          </div>
        </div>

        <div class="faq-view-body">
          <p th:utext="${#strings.replace(faq.content, '\n', '<br/>')}"></p>
        </div>
      </div>

      <div class="view-btn-area">
        <a th:href="@{/cs/faq/list(pg=${pg})}" class="btn-list">
          목록
        </a>
      </div>
    </section>
  </div>
</main>

<th:block th:replace="~{common/_main_footer}"></th:block>

</body>
</html>
