<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>문의하기 목록</title>
  <link rel="stylesheet" href="../../css/main.css" />
  <link rel="stylesheet" href="../../css/cs/common.css" />
  <link rel="stylesheet" href="../../css/cs/qna/list.css" />
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
  />
</head>
<body>
<th:block th:replace="~{common/_main_header}"></th:block>


<main class="main-layout">
  <div class="breadcrumb">
    <a th:href="@{/cs/index}">홈</a>
    <span>></span>
    <span>문의하기</span>
  </div>

  <div class="cs-layout">
    <!-- 사이드바 -->
    <aside class="cs-sidebar">
      <h3>문의하기</h3>

      <ul>
        <li class="active"><a href="#">회원</a></li>
        <li><a href="#">쿠폰 / 이벤트</a></li>
        <li><a href="#">주문 / 결제</a></li>
        <li><a href="#">배송</a></li>
        <li><a href="#">취소 / 반품 / 교환</a></li>
        <li><a href="#">여행 / 숙박 / 항공</a></li>
        <li><a href="#">안전거래</a></li>
      </ul>
    </aside>

    <!-- 컨텐츠 -->
    <section class="cs-content">

      <div class="content-header">
        <h2>[[${qnaDTOList[0].parentCateName}]]</h2>
        <p>[[${qnaDTOList[0].parentCateName}]] 관련 문의내용 입니다.</p>
      </div>

      <table class="inquiry-table">
        <tbody>

        <tr th:each="qna : ${qnaDTOList}"
            th:onclick="|location.href='@{/cs/qna/view(qnaNo=${qna.qnaNo},pg=${page.currentPage},parentNo=${parentNo})}'|">

          <td>
            [[|[${qna.cateName}] ${qna.title}|]]
          </td>

          <td th:class="${qna.status == '검토중'} ? 'status' : 'answer'"
              th:text="${qna.status == '검토중'} ? '검토중' : '답변완료'">
          </td>

          <td>[[${qna.name}]]</td>

          <td>
            [[${#temporals.format(qna.regDate,'yy.MM.dd')}]]
          </td>

        </tr>

        </tbody>
      </table>

      <div class="bottom-area">

        <div class="pagination">

          <a class="page-btn"
             th:if="${page.currentPage > 1}"
             th:href="@{/cs/qna/list(parentNo=${parentNo},pg=${page.currentPage-1})}">
            <i class="bi bi-chevron-left"></i>
          </a>

          <a th:each="i : ${#numbers.sequence(page.startPage,page.endPage)}"
             th:href="@{/cs/qna/list(parentNo=${parentNo},pg=${i})}"
             th:text="${i}"
             th:classappend="${i == page.currentPage} ? ' active'">
          </a>

          <a class="page-btn"
             th:if="${page.currentPage < page.lastPage}"
             th:href="@{/cs/qna/list(parentNo=${parentNo},pg=${page.currentPage+1})}">
            <i class="bi bi-chevron-right"></i>
          </a>

        </div>

        <a th:href="@{/cs/qna/write(parentNo=${parentNo})}"
           class="btn-write">
          문의하기
        </a>

      </div>

    </section>
  </div>
</main>

<th:block th:replace="~{common/_main_footer}"></th:block>

</body>
</html>
