<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>문의하기 글보기</title>
  <link rel="stylesheet" href="../../css/main.css" />
  <link rel="stylesheet" href="../../css/cs/common.css" />
  <link rel="stylesheet" href="../../css/cs/qna/view.css" />
</head>
<body>
<th:block th:replace="~{common/_main_header}"></th:block>


<main class="main-layout">
  <div class="breadcrumb">
    <a th:href="@{/cs/index}">홈</a>
    <span>></span>
    <a th:href="@{/cs/qna/list(parentNo=${parentNo},pg=${pg})}">문의하기</a>
    <span>></span>
    <span>[[${qna.parentCateName}]]</span>
  </div>

  <div class="cs-layout">

    <!-- 사이드바 -->
    <aside class="cs-sidebar">
      <h3>문의하기</h3>

      <ul>
        <li class="active"><a href="#">회원</a></li>
        <li><a href="#">쿠폰 / 이벤트</a></li>
        <li><a href="#">주문 / 결제</a></li>
        <li><a href="#">배송</a></li>
        <li><a href="#">취소 / 반품 / 교환</a></li>
        <li><a href="#">여행 / 숙박 / 항공</a></li>
        <li><a href="#">안전거래</a></li>
      </ul>
    </aside>

    <!-- 본문 -->
    <section class="cs-content">

      <div class="content-header">
        <h2>[[${qna.parentCateName}]]</h2>
        <p>[[${qna.parentCateName}]] 관련 문의내용 입니다.</p>
      </div>

      <div class="inquiry-view">

        <!-- 질문 -->
        <div class="question-box">

          <div class="question-header">

            <h3>
              [[|[${qna.cateName}] ${qna.title}|]]
            </h3>

            <div class="question-meta">
              <span>[[${qna.name}]]</span>
              <span th:text="${#temporals.format(qna.regDate,'yy.MM.dd')}"></span>
            </div>

          </div>

          <div class="question-body"
               th:utext="${#strings.replace(qna.content, '&#10;', '<br/>')}">
          </div>

        </div>

        <!-- 답변 -->
        <div class="answer-box">

          <div class="answer-header">

           <span class="answer-badge"
                 th:classappend="${qna.status == '검토중'} ? ' wait' : ' done'"
                 th:text="${qna.status == '검토중'} ? '검토중' : '답변완료'">
</span>

            <span class="answer-date"
                  th:if="${qna.answerDate != null}"
                  th:text="${#temporals.format(qna.answerDate,'yy.MM.dd')}">
            </span>

          </div>

          <div class="answer-body"
               th:if="${qna.answer != null}"
               th:utext="${#strings.replace(qna.answer, '&#10;', '<br/>')}">
          </div>

          <div class="answer-body"
               th:unless="${qna.answer != null}">
            아직 답변이 등록되지 않았습니다.
          </div>

        </div>

      </div>

      <div class="view-btn-area">
        <a th:href="@{/cs/qna/list(parentNo=${parentNo},pg=${pg})}"
           class="btn-list">
          목록
        </a>
      </div>

    </section>

  </div>
</main>

<th:block th:replace="~{common/_main_footer}"></th:block>

</body>
</html>
