<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의하기 글작성</title>
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/cs/common.css" />
    <link rel="stylesheet" href="../../css/cs/qna/write.css" />
  </head>
  <body>
  <th:block th:replace="~{common/_main_header}"></th:block>

  </header>

    <main class="main-layout">
      <div class="breadcrumb">
        <a th:href="@{/cs/index}">홈</a>
        <span>></span>
        <span>문의하기</span>
      </div>

      <div class="cs-layout">
        <!-- 사이드바 -->
        <aside class="cs-sidebar">
          <h3>문의하기</h3>

          <ul>
            <li class="active"><a href="#">회원</a></li>
            <li><a href="#">쿠폰 / 이벤트</a></li>
            <li><a href="#">주문 / 결제</a></li>
            <li><a href="#">배송</a></li>
            <li><a href="#">취소 / 반품 / 교환</a></li>
            <li><a href="#">여행 / 숙박 / 항공</a></li>
            <li><a href="#">안전거래</a></li>
          </ul>
        </aside>

        <!-- 컨텐츠 -->
        <section class="cs-content">
          <div class="content-header">
            <h2>회원</h2>
            <p>회원 관련 문의내용 입니다.</p>
          </div>

          <form class="write-form" th:action="@{/cs/qna/write}" method="post">
            <input type="hidden" name="parentNo" th:value="${parentNo}">

            <div class="form-row">
              <label>문의유형</label>

              <div class="category-wrap">
                <select id="cate1" disabled>

                  <option
                          th:each="parent : ${parentCategoryList}"
                          th:value="${parent.csCateNo}"
                          th:text="${parent.cateName}"
                          th:selected="${parent.csCateNo == parentNo}">
                  </option>

                </select>

                <select id="cate2" name="csCateNo" required>

                  <option value="" selected disabled>2차 유형 선택</option>

                  <option
                          th:each="child : ${childCategoryList}"
                          th:value="${child.csCateNo}"
                          th:text="${child.cateName}">
                  </option>

                </select>
              </div>
            </div>

            <div class="form-row">
              <label>제목</label>

              <input type="text" name="title" placeholder="제목을 입력하세요." require/>
            </div>

            <div class="form-row">
              <label>내용</label>

              <textarea  name="content" placeholder="내용을 입력하세요." require></textarea>
            </div>

            <div class="btn-area">
              <a th:href="@{/cs/qna/list(parentNo=${parentNo})}"
                 class="btn-cancel">
                취소하기
              </a>

              <button type="submit" class="btn-submit">등록하기</button>
            </div>
          </form>
        </section>
      </div>
    </main>

  <th:block th:replace="~{common/_main_footer}"></th:block>

  </body>
</html>
