.user-id {
  /*display: inline-flex;*/
  align-items: center;

  height: 46px;

  font-size: 15px;
  font-weight: 600;

  /*color: #111827;*/
  color: #83d400;
}

.password-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}

.password-group input {
  width: 100%;
}

.hint {
  font-size: 13px;
  line-height: 1.4;
}

.hint.success {
  color: #53d400;
}

.hint.error {
  color: #ef4444;
}
