<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.springkmarketapp.dao.my.MyDAO">
    <!-- 최근 주문내역 -->
    <select id="selectRecentOrderList"
            parameterType="long"
            resultType="kr.co.springkmarketapp.dto.order.OrderItemDTO">

        SELECT
        oi.order_item_no         AS orderItemNo,
        oi.order_no              AS orderNo,
        oi.delivery_no           AS deliveryNo,
        oi.product_no            AS productNo,
        oi.seller_no             AS sellerNo,
        oi.product_name          AS productName,
        oi.product_image         AS productImage,
        oi.price                 AS price,
        oi.discount_rate         AS discountRate,
        oi.coupon_discount       AS couponDiscount,
        oi.point                 AS point,
        oi.quantity              AS quantity,
        oi.total_price           AS totalPrice,
        oi.item_status           AS itemStatus,
        oi.purchase_confirm_date AS purchaseConfirmDate,

        o.order_code             AS orderCode,
        o.order_date             AS orderDate,

        sp.company_name          AS companyName,

        d.delivery_status        AS deliveryStatus

        FROM orders o

        INNER JOIN order_item oi
        ON o.order_no = oi.order_no

        INNER JOIN seller_profile sp
        ON oi.seller_no = sp.seller_no

        LEFT JOIN delivery d
        ON oi.delivery_no = d.delivery_no

        WHERE o.member_no = #{memberNo}

        ORDER BY o.order_date DESC
        LIMIT 5

    </select>


    <!-- 주문 상세 팝업 -->
    <select id="selectOrderDetail"
            parameterType="long"
            resultType="kr.co.springkmarketapp.dto.order.OrderItemDTO">

        SELECT
        o.order_no                 AS orderNo,
        o.order_code               AS orderCode,
        o.order_date               AS orderDate,

        oi.order_item_no           AS orderItemNo,
        oi.product_no              AS productNo,
        oi.seller_no               AS sellerNo,
        oi.product_name            AS productName,
        oi.product_image           AS productImage,
        oi.price                   AS price,
        oi.discount_rate           AS discountRate,
        oi.coupon_discount         AS couponDiscount,
        oi.quantity                AS quantity,
        oi.total_price             AS totalPrice,
        oi.item_status             AS itemStatus,
        oi.purchase_confirm_date   AS purchaseConfirmDate,

        sp.company_name            AS companyName,

        d.receiver_name            AS receiverName,
        d.receiver_hp              AS receiverHp,
        d.zip                      AS zip,
        d.addr1                    AS addr1,
        d.addr2                    AS addr2,
        d.memo                     AS memo,
        d.delivery_status          AS deliveryStatus

        FROM orders o

        INNER JOIN order_item oi
        ON o.order_no = oi.order_no

        INNER JOIN seller_profile sp
        ON oi.seller_no = sp.seller_no

        LEFT JOIN delivery d
        ON oi.delivery_no = d.delivery_no

        WHERE o.order_no = #{orderNo}

        ORDER BY oi.order_item_no

    </select>


    <!-- 판매자 정보 -->
    <select id="selectSellerDetail"
            parameterType="int"
            resultType="kr.co.springkmarketapp.dto.member.SellerProfileDTO">

        SELECT
        sp.seller_no      AS sellerNo,
        sp.company_name   AS companyName,
        sp.ceo_name       AS ceo,
        sp.biz_no         AS bizRegNo,
        sp.tel            AS hp,
        sp.fax            AS fax,
        m.email           AS email,
        sp.zip            AS zip,
        sp.addr1          AS addr1,
        sp.addr2          AS addr2,
        sp.status         AS grade
        FROM seller_profile sp
        JOIN member m
        ON sp.member_no = m.member_no
        WHERE sp.seller_no = #{sellerNo}

    </select>


    <!-- 포인트 적립내역 -->
<!--    <select id="selectPointList" parameterType="long" resultType="kr.co.springkmarketapp.dto.member.MemberPointDTO">>-->
<!--        SELECT-->
<!--        point_no,-->
<!--        point_type,-->
<!--        point_value,-->
<!--        balance_point,-->
<!--        reason,-->
<!--        expire_date,-->
<!--        reg_date-->
<!--        FROM member_point-->
<!--        WHERE member_no = #{memberNo}-->
<!--        ORDER BY reg_date DESC-->
<!--    </select>-->


    <!-- 내가 작성한 상품평 -->
    <select id="selectReviewList" parameterType="long"  resultType="kr.co.springkmarketapp.dto.product.ProductReviewDTO">>
        SELECT
        r.review_no,
        r.rating,
        r.content,
        r.reg_date,

        oi.product_name,
        oi.product_image
        FROM product_review r
        INNER JOIN order_item oi
        ON r.order_item_no = oi.order_item_no
        WHERE r.member_no = #{memberNo}
        ORDER BY r.reg_date DESC
    </select>


    <!-- 1:1 문의내역 -->
    <select id="selectQnaList" parameterType="long"  resultType="kr.co.springkmarketapp.dto.cs.QnaDTO">>
        SELECT
        q.qna_no,
        c.cate_name,
        q.title,
        q.status,
        q.reg_date,
        q.answer_date
        FROM qna q
        INNER JOIN cs_category c
        ON q.cs_cate_no = c.cs_cate_no
        WHERE q.member_no = #{memberNo}
        ORDER BY q.reg_date DESC
    </select>
</mapper>
