<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.springkmarketapp.dao.order.OrderItemDAO">

    <update id="updateItemStatus">
        UPDATE order_item
        SET item_status = #{itemStatus}
        WHERE order_item_no = #{orderItemNo}
    </update>
</mapper>