<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.springkmarketapp.dao.cs.QnaDAO">
    <select id="selectQnaList" resultType="kr.co.springkmarketapp.dto.cs.QnaDTO">
        SELECT qna_no AS qnaNo, member_no AS memberNo, cs_cate_no AS csCateNo, title, content, answer,
               answer_member_no AS answerMemberNo, status, reg_date AS regDate, answer_date AS answerDate
        FROM qna
        ORDER BY qna_no DESC
    </select>
    <select id="selectQna" parameterType="long" resultType="kr.co.springkmarketapp.dto.cs.QnaDTO">
        SELECT qna_no AS qnaNo, member_no AS memberNo, cs_cate_no AS csCateNo, title, content, answer,
               answer_member_no AS answerMemberNo, status, reg_date AS regDate, answer_date AS answerDate
        FROM qna WHERE qna_no=#{qnaNo}
    </select>
    <insert id="insertQna" parameterType="kr.co.springkmarketapp.dto.cs.QnaDTO" useGeneratedKeys="true" keyProperty="qnaNo">
        INSERT INTO qna(member_no, cs_cate_no, title, content, answer, answer_member_no, status, reg_date, answer_date)
        VALUES(#{memberNo}, #{csCateNo}, #{title}, #{content}, #{answer}, #{answerMemberNo}, COALESCE(#{status}, 'WAIT'), NOW(), #{answerDate})
    </insert>
    <update id="updateQna" parameterType="kr.co.springkmarketapp.dto.cs.QnaDTO">
        UPDATE qna SET member_no=#{memberNo}, cs_cate_no=#{csCateNo}, title=#{title}, content=#{content}, answer=#{answer},
            answer_member_no=#{answerMemberNo}, status=#{status}, answer_date=#{answerDate}
        WHERE qna_no=#{qnaNo}
    </update>
    <delete id="deleteQna" parameterType="long">
        DELETE FROM qna WHERE qna_no=#{qnaNo}
    </delete>
</mapper>
